
.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.App__content {
    box-shadow: 0 0 10px white inset;
    background-color: var(--default-bg-color);
    width: 200px;
    height: 230px;
    box-sizing: border-box;
}
